#demo
{
    font-size: x-large;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 250px;
    height:250px;
    padding: 50px;
    margin: 50px;
    background-color:darkseagreen;
    border-radius: 10px;;
    border: 1px solid black;
}
